.calc-field {
    -fx-background-color:
        #B2B2B2,
        linear-gradient(#D6DDDE, #F3FCFD);
}

.calc-background {
    -fx-background-color:
        linear-gradient(#D4F4F3, #BBE8E6);
}

.calc-button {
    -fx-background-color:
        #7B9A99,
        linear-gradient(#ACF0EE, #D4F0EF);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
}

.calc-button:hover {
    -fx-background-color:
            #7B9A99,
            linear-gradient(#D4F0EF, #ACF0EE);
}

.calc-button:disabled, .scroll-pane:disabled {
    -fx-opacity: 1.0;
    -fx-background-color:
        linear-gradient(#DBE556, #F3FA8E);
}